<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="D:\home\Python311\python.exe" arguments="D:\home\site\wwwroot\startup.py" stdoutLogEnabled="true" stdoutLogFile="D:\home\LogFiles\python.log" startupTimeLimit="120" startupRetryCount="3">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
        <environmentVariable name="WEBSITE_SITE_NAME" value="clinic-ai-backend" />
        <environmentVariable name="WEBSITE_SKU" value="F1" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
